@model IEnumerable<ProjetoASPNET_VazioComCRUD_EF6.Models.banco>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de usuários</h2>

<p>
    @Html.ActionLink("Novo Usuário", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
